/* HOME */
.home-h3{
    text-align: center;
    margin-top: 10px;
}
.home-section{
    padding: 30px
}

/* PRODUCTCARD */
.prod-img{
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 125px;
    height: 125px;
}
.boton-agregar{
    font-size: 0.8em;
}
/* .home-grid-display{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3,1fr);
} */

/* CART */